@font-face {
	font-family: 'InterReg';
	src: url('./assets/fonts/Inter/Inter-Regular.ttf');
}
@font-face {
	font-family: 'InterBlack';
	src: url('./assets/fonts/Inter/Inter-Black.ttf');
}
@font-face {
	font-family: 'InterSemiB';
	src: url('./assets/fonts/Inter/Inter-SemiBold.ttf');
}
@font-face {
	font-family: 'Manrope';
	src: url('./assets/fonts/Manrope/Manrope-Bold.ttf');
}
@font-face {
	font-family: 'OpenSans';
	src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('./assets/fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'OpenSansSemiBold';
	src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

:root {
	--white: #ffff;
	--black100: #3a3a3a;
	--accent: #0146fe;
	--btn-hover: #4973e5;
	--light-blue: #f4f6fd;

	--blackT: #8d8c8c;
	--gray: #666666;
}

.container {
	width: 100%;
	max-width: 1270px;
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.title {
	font-size: 60px;
	font-family: 'InterBlack', sans-serif;
	color: var(--black100);
}

.under-title {
	color: var(--blackT);
	font-size: 18px;
	font-family: 'Inter', sans-serif;
}

.box {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.box-title {
	color: var(--blackT);
	font-size: 34px;
	font-family: 'InterBlack', sans-serif;
}

.box-text {
	font-family: 'InterReg', sans-serif;
	font-size: 18px;
	padding: 12px 0 16px 0;
}

.block-desc {
	display: flex;
	text-align: center;
	flex-direction: column;
	gap: 24px;
	max-width: 681px;
}

.btn-blue {
	background-color: var(--accent);
	color: var(--white);
	font-family: 'InterSemiB', sans-serif;
	&:hover,
	:active {
		background-color: var(--btn-hover);
	}
}

.btn-transtparent {
	color: var(--gray);
	fill: var(--gray);
	font-family: 'OpenSansBold', sans-serif;
}

.btn-trail {
	width: 100%;
	max-width: 366px;
	height: 64px;
	line-height: 24px;
	font-size: 20px;
	font-family: 'InterSemiB', sans-serif;
	color: var(--white);
	margin: 0 auto;
	background-color: var(--accent);
	&:hover {
		background-color: var(--btn-hover);
	}
	&:active {
		background-color: var(--blackT);
	}
}

.scroll-btn {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 40px;
	right: 20px;
	border-radius: 50%;
	z-index: 1000;
	transition: bottom 0.3s ease-in-out;
	cursor: pointer;
}

.btn-hidden {
	bottom: -100%;
}

.progress-ring {
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
}

.progress-ring__circle {
	transform: rotate(90deg);
}

.progress-ring__background {
	stroke-dasharray: 280;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.5s;
}

.progress-ring__progress {
	stroke-dasharray: 220;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.5s;
}

#innerPercentage {
	position: absolute;
	flex-wrap: wrap;
	top: 40%;
	left: 10px;
	width: 100%;
	font-size: 10px;
	color: var(--accent);
}

/* 								HEADER								 */

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 13px 0 19px 0;
	position: relative;

	.header__inner {
		height: 48px;
		justify-content: space-between;

		.header__logo {
			display: block;
			min-width: 127px;
			width: 127px;
			height: 100%;
			background: url('./assets/img/icons/headerLogo.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		/* 								HEADER MENU								 */

		.header__menu {
			gap: 24px;
			display: flex;
			line-height: 20px;
			font-size: 16px;

			.header__menu-el {
				width: max-content;
				flex-wrap: nowrap;
				color: var(--blackT);
				cursor: pointer;
				font-family: 'OpenSansBold', sans-serif;
				letter-spacing: 0.16px;
				font-weight: bold;
				list-style: none;
			}
		}

		/* 							HEADER BUTTONS							 */

		.header__buttons {
			display: flex;
			align-items: center;

			.header-button {
				font-size: 16px;
				line-height: 24px;
				height: 100%;
				width: 131px;
				height: 48px;
			}

			.header__btn-menu {
				display: none;
				position: relative;
				width: fit-content;
				cursor: pointer;
				height: 38px;
				width: 38px;

				.menu-toggle {
					position: absolute;
					top: 49%;
					transform: translate(0, -50%);
					height: 100%;
					width: 100%;

					&,
					&:hover {
						color: #252525;
					}
				}

				.menu-toggle-bar {
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -1px;
					right: 0;
					width: 100%;
					height: 4px;
					border-radius: 4px;
					background-color: #252525;
					transition: all 0.3s ease;

					&.menu-toggle-bar--top {
						transform: translate(0, -8px);
					}

					&.menu-toggle-bar--bottom {
						transform: translate(0, 8px);
					}

					.nav-open & {
						&.menu-toggle-bar--top {
							transform: translate(0, 0) rotate(45deg);
						}
						&.menu-toggle-bar--middle {
							opacity: 0;
						}
						&.menu-toggle-bar--bottom {
							transform: translate(0, 0) rotate(-45deg);
						}
					}
				}
			}

			.buttons-account {
				color: #666666;
				&:hover {
					box-shadow: 2px 2px 4px rgba(195, 195, 195, 0.5);
				}
				&:active {
					box-shadow: 1px 1px 10px rgba(219, 219, 219, 0.5);
				}
			}
		}
	}
}

/* 								MAIN								 */

/*		Section 1		*/

.section1__block {
	gap: 40px;
}

.section1__block-boxes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	.section1__box {
		text-align: center;
		padding: 24px 16px 16px 16px;
		max-width: 400px;
		max-height: 422px;
		border-radius: 32px;
		outline: 2px solid rgba(0, 0, 0 0.04);
		background-color: rgb(31, 31, 31);
		box-shadow: 0px 0px 0.8em 0.4rem rgba(222, 221, 221, 0.08);
	}
}

/*		Section 2		*/

.section2 {
	display: flex;
	justify-content: center;
	margin: 0;

	.section2__block {
		gap: 64px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		.section2__slider-block {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 32px;

			.slider__content {
				display: block;
				justify-content: center;
				position: relative;
				width: 100%;
				height: 530px;

				transition: 1s ease-in-out;
			}
			/*			 Slider Buttons				*/

			.section2__slider-buttons {
				font-size: 18px;
				font-family: 'InterSemiB', sans-serif;
				display: flex;
				justify-content: center;
				gap: 16px;

				.slider__button {
					background-color: var(--light-blue);
					height: 50px;
					border-radius: 12px;
					padding: 0 32px;

					&:hover {
						color: #ffffff;
						background-color: var(--btn-hover);
					}
				}

				.btn-active {
					color: var(--white);
					background-color: var(--accent);
				}
			}
		}

		/*							 Sliders							 */

		.slide {
			transform: scale(82%) translateY(117px);
			display: flex;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			position: absolute;
			z-index: 1;
			transition: 1s ease-in-out;
			animation-duration: 0.6s;
			padding: 42px;
			overflow: hidden;
			gap: 32px;
			border-radius: 32px;
			box-shadow: 0px 0px 14px rgba(215, 215, 215, 0.5);
			position: absolute;
			background: #111111;
		}

		.slide__img-container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;

			.img-slide {
				border-radius: 32px;
				position: inherit;
			}
		}

		.slide-box__desc {
			flex-wrap: nowrap;
			text-align: left;
			display: flex;
			flex-direction: column;
			gap: 32px;
			max-width: 514px;

			.slide-title {
				letter-spacing: -5%;
				font-family: 'InterBlack', sans-serif;
				font-size: 60px;
				color: #d3d3d3;
			}

			.slide__list {
				text-align: left;
				list-style-type: disc;
				list-style-position: inside;
				display: flex;
				flex-direction: column;
				font-size: 18px;
				color: #a7a7a7;
			}
		}

		@keyframes slideIn {
			from {
				z-index: 99;
				opacity: 0.6;
				transform: translateY(50px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes slideOutPrev {
			from {
				z-index: 99;
				opacity: 0.6;
				transform: translateY(0);
			}
			to {
				opacity: 1;
				transform: translateY(50px);
			}
		}

		.prev {
			transform: translateY(63px) scale(86%);
			animation: slideOutPrev;
			position: absolute;
			z-index: 2;
			box-shadow: 0px 0px 14px rgba(195, 195, 195, 0.3);
		}
		.active {
			top: 0;
			animation: slideIn;
			animation-duration: 0.6s;
			position: absolute;
			transform: translateY(0) scale(100%);
			z-index: 3;
			box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.7);
		}
	}
}

/* 								SECTION 3								 */
.section3 {
	background-color: var(--light-blue);
	padding: 64px 0 70px 0;
}

.section3__block {
	gap: 70px;
	flex-direction: column;

	.section3__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		align-items: center;
		justify-content: center;
		gap: 16px;

		.section3__grid-el {
			max-width: 295px;
			height: 295px;
			justify-content: space-between;
			text-align: center;

			.el-img {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 56px;
					height: 56px;
				}
			}
			.el-desc {
				display: flex;
				flex-direction: column;
				gap: 14px;
			}
		}
	}
}

/* 								FOOTER 									*/
.footer {
	user-select: none;

	.footer__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: left;

		.footer__col {
			height: 100%;
			gap: 26px;
		}

		.footer__col,
		.col__list,
		.col__items-time {
			display: flex;
			flex-direction: column;
			list-style: none;

			.col__title {
				padding-bottom: 15px;
				font-size: 12px;
				line-height: 26px;
				letter-spacing: 1px;
				color: var(--black100);
				text-transform: uppercase;
				font-family: 'OpenSansBold', sans-serif;
			}

			.col__items {
				list-style: none;

				.item {
					cursor: pointer;
					font-family: 'OpenSans', sans-serif;
					font-size: 14px;
					line-height: 32.5px;
					color: var(--gray);
				}
			}

			.col__items-time {
				.item-time {
					color: var(--gray);
				}
			}

			.col__items-time :nth-child(1) {
				font-family: 'OpenSasnSemiBold', sans-serif;
				line-height: 16px;
				font-size: 12px;
			}
			.col__items-time :nth-child(2) {
				font-family: 'OpenSans', sans-serif;
				line-height: 26.5px;
				font-size: 14px;
			}
			.col__items-time :last-child {
				font-family: 'OpenSans', sans-serif;
				font-size: 14px;
				line-height: 32.5px;
			}
		}
	}
}
